*~
*.pyc
*.json
*.mat
*/.DS_Store
data/*
bin/data_temp
test.py
configure.sh
tests/data_ModalClient/db/*
tests/data_ModalClient/image.png
tests/data_ModalClient/thumbnail.png
tests/data_ModalClient/Video/*
demos/data/db/*
demos/data/Video/*


